@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 15px 20px;
    width: 100%;
  }

  header nav ul {
    gap: 20px;
  }

  .logo {
    font-size: 1.4rem;
  }

  .list {
    width: 100%;
  }

  .item {
    flex-direction: column;
    text-align: center;
  }

  .product-img {
    width: 100%;
    height: 45%;
  }

  .product-img img {
    max-height: 200px;
  }

  .content {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .product-name {
    font-size: 2.2rem;
  }

  .description {
    font-size: 0.95rem;
  }

  .arrows {
    width: 100%;
    padding: 0 10px;
  }

  .arrow-btn {
    width: 40px;
    height: 40px;
  }

  .numbers {
    font-size: 2rem;
  }

  .dot {
    width: 25px;
  }
}


@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }

  .item {
    flex-direction: column;
  }

  .product-img {
    width: 100%;
    height: 50%;
  }

  .content {
    width: 100%;
    padding: 0 20px;
    align-items: center;
    text-align: center;
  }

  .product-name {
    font-size: 3rem;
  }

  .indicators {
    display: none;
  }

}


@media (max-width: 1024px) {
  .list {
    width: 90%;
  }

  .product-name {
    font-size: 3.5rem;
  }

  .content {
    padding-right: 30px;
  }
}


